{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2 class="text-center py-5"> Les dernièrs sujets ouverts </h2>
    {% for subject in subjects %}
 <div class="card my-3 w-50 text-center m-auto">
  <div class="card-header bg-dark text-danger">
    publié le : {{subject.published|date('d/m/y')}} {{subject.published|date('H:i')}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{subject.title}}</h5>
    <p class="card-text">{{subject.content}}</p>
    <a href="{{path('single', {id: subject.id})}}" class="btn btn-danger text-dark">voir</a>
  </div>
</div>
    {% endfor %}
{% endblock %}
